*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

nav{
    background-color: #181818;
    width: 100%;
    height: 90px;
    font-size: 16px;
    position: absolute;
}

nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 120px;
}

nav .container div{
    margin: 24px 0;
}

nav .container div .nav-link{
    font-size: 15px;
    margin: 0 32px 0 0;
}

nav .container div .nav-link:nth-child(1){
    font-size: 13px;
    line-height: 20px;
    margin: 0 56px 0 0;
}

nav .container div .nav-link:nth-child(4){
    margin: 0 31px 0 0;
}

nav .container .get-template-button{
    width: 155px;
    height: 42px;
    background: #fff;
    border-radius: 14px;
}

nav .container .get-template-button a{
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin: 0;
}

nav .container img{
    margin: 30px 0;
    height: 31px;
}

main .aperture-studio-about{
    text-align: center;
    height: 800px;
    background-image: url('../img/aperture-studio-about-bg.png');
    background-size: cover;
}

main .aperture-studio-about .container{
    height: 716px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

main .aperture-studio-about .container .text-container{
    margin-top: 526px;
}

main .aperture-studio-about .container .aperture-type,
main .aperture-studio-about .container .aperture-description
{
    color: #C0C0C0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main .aperture-studio-about .container .aperture-name{
    color: #fff;
    font-size: 54px;
}

main .aperture-studio-about .container .aperture-description{
    text-transform: none;
    letter-spacing: 0;
    width: 580px;
    margin: 0 auto;
}

.camera-options{
    padding: 4px 20px 0 0;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    color: #fff;
}

.camera-options div{
    margin-left: 16px;
    display: flex;
    align-items: flex-end;
}

.camera-options div:nth-child(4){
    margin-right: 40px;
}

.camera-options div span{
    margin-left: 6px;
}

main .what-we-do{
    width: 100%;
    height: 1558px;
    background: #000;
    color: #fff;
    padding-top: 113px;
}

.what-we-do .title{
    font-size: 40px;
    text-align: center;
}

.what-we-do .description{
    font-size: 23px;
    color: #C0C0C0;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
}

.what-we-do .cards-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    align-items: center;
}

.what-we-do .card{
    height: 600px;
    width: 576px;
    display: flex;
    flex-direction: column;
}

.what-we-do .card:nth-child(1){
    background-image: url('../img/product-photography.png');
    justify-self: end;
}

.what-we-do .card:nth-child(2){
    background-image: url('../img/architecture-photography.png');
    justify-self: start;
}

.what-we-do .card:nth-child(3){
    background-image: url('../img/drone-photography.png');
    justify-self: end;
}

.what-we-do .card:nth-child(4){
    background-image: url('../img/wildlife-photography.png');
    justify-self: start;
}

.what-we-do .card .card-title{
    margin-top: 421px;
    margin-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.what-we-do .card .card-title-bottom {
     margin-top: 401px;
 }

.what-we-do .card .card-description{
    margin-top: 14px;
    margin-left: 30px;
    font-size: 14px;
    width: 514px;
    color: #C0C0C0;
}

.read-more-btn{
    border: none;
    display: flex;
    margin-top: 19px;
    width: 143px;
    height: 42px;
    border-radius: 14px;
    font-size: 15px;
    margin-left: 30px;
    position: relative;
}

.read-more-btn span{
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 20px;
    margin: 9px 0 12px 2px;
}

.what-we-do .card img{
    align-content: center;
    width: 32px;
    margin: 4px;
}

.sunset-at-mount-fuji{
    height: 600px;
    background-image: url('../img/sunset-at-mount-fuji-bg.png');
    background-size: cover;
    position: relative;
}

.sunset-at-mount-fuji .container{
    margin-left: 75%;
    flex-direction: column;
}

.sunset-at-mount-fuji .title{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 260px;
    line-height: 20px;
}

.sunset-at-mount-fuji .description{
    font-size: 14px;
    color: #C0C0C0;
    width: 298px;
}

.sunset-at-mount-fuji .camera-options{
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.tools .container{
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    height: 540px;
}

.tools .container .text{
    background: #000;
    position: relative;
}

.tools .container .text .text-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
}

.tools .container .text .type,
.tools .container .text .title,
.tools .container .text .description{
    color: #fff;
}

.tools .container .text .type{
    font-size: 14px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.tools .container .text .title{
    font-size: 28px;
    line-height: 32px;
    margin-top: 6px;
}

.tools .container .text .description{
    font-size: 14px;
    line-height: 20px;
    width: 514px;
    margin-top: 14px;
}

.tools .container .text .read-more-btn{
    margin-left: 0;
}

.tools .container .text .read-more-btn img{
    align-content: center;
    width: 32px;
    margin: 4px 2px 0 4px;
}

.tools .container .photo{
    width: 100%;
    background-image: url('../img/tools-bg.png');
    background-size: cover;
}

.tools .container .photo .camera-options{
    margin-top: 484px;
}

.monstera-leafs{
    height: 600px;
    background-image: url('../img/Monstera-leafs-bg.png');
    background-size: cover;
    position: relative;
}

.monstera-leafs .container{
    margin-left: 75%;
    flex-direction: column;
}

.monstera-leafs .title{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 260px;
    line-height: 20px;
}

.monstera-leafs .description{
    font-size: 14px;
    color: #C0C0C0;
    width: 298px;
}

.monstera-leafs .camera-options{
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.clients{
    background: #000;
    padding: 120px 120px 100px 120px;
    color: #fff;
}


.clients .container{
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clients .container .title{
    font-size: 40px;
    line-height: 42px;
}

.clients .container .description{
    font-size: 24px;
    color: #C0C0C0;
    margin-top: 15px;
}

.clients .container .clients-logos{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.clients .container .clients-logos div{
    margin-top: 40px;
}

.star-fall{
    height: 600px;
    background-image: url('../img/star-fall-bg.png');
    background-size: cover;
    position: relative;
}

.star-fall .container{
    margin-left: 75%;
    flex-direction: column;
}

.star-fall .title{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 260px;
    line-height: 20px;
}

.star-fall .description{
    font-size: 14px;
    color: #C0C0C0;
    width: 298px;
}

.star-fall .camera-options{
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.get-in-touch .container{
    padding-top: 120px;
    text-align: center;
    background: #000;
    height: 414px;
    display: flex;
    flex-direction: column;
}

.get-in-touch .container .title{
    color: #fff;
    font-size: 40px;
    line-height: 42px;
    width: 541px;
    margin-left: auto;
    margin-right: auto;
}

.get-in-touch .container .description{
    color: #C0C0C0;
    font-size: 24px;
    margin-top: 15px;
}

.get-in-touch .container .read-more-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    width: 154px;
}

.get-in-touch .container .read-more-btn img{
    margin: 4px 2px 0 4px;
}

footer .container{
    background: #000;
    padding: 100px 136px;
    margin-left: auto;
    margin-right: auto;
    height: 652px;
}

.menu-container{
    display: grid;
    grid-template-columns: 1fr repeat(2, 0.4fr);
}

.logo-and-description {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
}

.logo-and-description .description{
    color: #C0C0C0;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}

.business-area {
    grid-area: 1 / 2 / 2 / 3;
}

.business-area ul li{
    font-size: 14px;
    margin-bottom: 10px;
}

.business-area ul li:nth-child(1){
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pages {
    grid-area: 1 / 3 / 2 / 4;
}

.pages ul li{
    font-size: 14px;
    margin-bottom: 10px;
}

.pages ul li:nth-child(1){
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

hr {
    border: none;
    color: #fff;
    background: #fff;
    height: 2px;
    margin-top: 26px;
}

footer .subscribe-container{
    display: grid;
    grid-template-columns: 1fr repeat(2, 0.4fr);
}

footer .subscribe-container .text {
    grid-area: 1 / 1 / 2 / 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

footer .subscribe-container .text .title{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .subscribe-container .text .description{
    color: #C0C0C0;
    font-size: 13px;
    margin-top: 20px;
}

footer .subscribe-container .subscribe-btn-block {
    grid-area: 1 / 2 / 2 / 4;
    width: 100%;
}

footer .subscribe-container .subscribe-btn {
    background: #fff;
    height: 52px;
    width: 100%;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}

footer .subscribe-container .subscribe-btn img{
    margin: 11px 6px;
}

.second-divider {
    margin-top: 40px;
}

footer .copyright-and-socials-container{
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    width: 100%;
}

footer .copyright-and-socials-container .copyright-block .copyright-text{
    font-size: 14px;
    color: #C0C0C0;
}

footer .copyright-and-socials-container .copyright-block a{
    font-size: 13px;
    color: #C0C0C0;
}

footer .copyright-and-socials-container .socials-block{
    display: flex;
}

footer .copyright-and-socials-container .socials-block .social-logo{
    margin-left: 20px;
}

